body {
	background-color: #f5f5f5;
	color: #696969;


}

/* Header */

nav {
	font-size: 0.9em;
	background-color: #fff;
}

nav ul {

	margin: 0;
	padding: 0;
}

nav li { 
	padding: 1em 1em;
	display: inline-block;
	transition: background-color 0.2s linear;
}

nav li:hover {
	background-color: #ccc;
	cursor: pointer;
}

#me-nav {
	float: right;
	margin-right: 115px;
}

#user_icon {
	width: 35px;
	height: auto;
	border-radius: 50%;
	float: right;
}

#options-nav{
	float: left;
	width: auto;
}

.clear {
	clear: both;	
}

#logo-nav {
	float: left;
	margin-left: 140px;
	margin-top: 12px;
	padding-right: 10px;
	width: auto;
	height: 20px;
}

/* Stile progetti */

.app h2 {
	font-weight: 200;
}

#projects {

	padding: 30px;
	text-align: center;
}

.name-project, .time-update {
	margin-left: 80px;
	text-align: left;
	position: relative;
}

.name-project {
	margin-top: 20px;
	font-size: 1em;
}

.time-update {
	margin-top: 8px;
	font-weight: 100;
	font-size: 0.8em;
}

.delete-project {
	position: absolute;
	color: rgba(0,0,0,0.3);
	top: 0;
	right: 0;
	padding: 10px;
}

.delete-project:hover {
	color: rgba(0,0,0,0.7);
	cursor: pointer;
}

.app {
	background-color: #fbfbfb;
	width: 240px;
	height: 280px;
	display: inline-block;
	margin: 30px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 2px 2px rgba(49,59,93,0.3);
	position: relative;
	overflow: hidden;
	text-align: left;
	transition: box-shadow 0.2s linear;
}

.app:hover {
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(49,59,93,0.3);
}

.app h4 {
	margin-top: 0;
	font-weight: 200;
}

.project_icon {
	width: 40px;
	height: auto;
	float: left;
	border-radius: 7px;
	margin: 20px 0 0 25px;
	position: relative;
}

#new-app {
	background-color: #ededed;
	border: 2px dashed rgba(0,0,0,0.1);
	box-shadow: none;
	text-align: center;
}

.new-project-btn{

	background-color: inherit;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	width: 62px;
	height: 62px;
	margin: 40px auto;
	transition: background-color 0.1s linear;
}

.fa-plus {
	margin-top: 22px;
	color: rgba(0,0,0,0.3);
}

.new-project-btn:hover {

	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}

.new-project-btn:hover i{

	color: #ededed;
}

.submenu {
	background-color: #FFB500;
	height: 0;
	position: absolute;
	bottom: 0;
	transition: all 0.3s ease-in-out;
}

.submenu.opened {
	height: 100%;
}

.submenu ul {
	margin-top: 70px;
}

.submenu li{
	width: 100%;
	padding-left: 20px;
}

.buttons-down {
	background-color: rgba(0,0,0,0.07);
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.barretta {
	position: absolute;
	top: -2px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	height: 2px;
}

section ul {
	padding: 0;
	margin: 0;
}

section li {
	display: inline-block;
	width: 25%;
	padding: 12px 0;
}

section li:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.1)
}

/* Footer */

footer {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 12px;
	font-weight: 100;
}