/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
    background-color: #dddddd;
}

body {
  background-color: #eeeeee;
  margin: 0;

}

div {
  
}

#page {
  margin: 0 auto;
  width: 860px;
}


aside, section {
  padding: 10px;
  float: left;
}

.nav {
  width: 100px;
}

.adv {
  width: 100px;
}

.content {
  width: 600px;
  background-color: white;
  padding-bottom: 0;
}

/* Immagini */

.curly, .moe {
  float: right;
}

.larry {
  float: left;
}