body {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

.board { 
	border: 2px solid black;
	border-collapse: collapse; 
}
			
.row-cell:nth-child(3n) {
	border-bottom: 2px solid black; 
}

.col-cell:nth-child(3n) {
	border-right: 2px solid black;
}

.col-cell { 
	border: 1px solid black; 
	height: 50px;
	width: 50px; 
	text-align: center; 
	padding: 0; 
}
