body {
  margin: 0;
}

.box-one, .box-two {
  width: 200px;
  height: 200px;
  color: white;
  margin: 0;
  padding: 0;
}

.box-one {
  background-color: red;
}

.box-two {
  background-color: blue;
  position: absolute;
  top: 20px;
  left: 20px;
}