body {
  margin: 0;
}

nav {
  background-color: red;
  margin: 20px;
}

header {
  background-color: blue;
  margin: 20px;
}

article {
  background-color: brown;
  margin: 20px;
}

aside {
  background-color: green;
  margin: 20px;
}

footer {
  background-color: yellow;
  margin: 20px;
}

p {
  margin: 0;
}

@media screen and (min-width: 960px) {
    body {
      width: 960px;
    }

    nav, aside {
      width: 200px;
    }

    article {
      width: 500px;
    }

    nav, article, aside {
      float: left;
    }

    footer {
      clear: both;
    }
}