body {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
}

/* Header */

nav {
	position: fixed;
	top: 0;	
	background-color: #f5f5f5;
	height: 85px;
	width: 100%;
	color: #959595;
	text-align: center;
	overflow: hidden;
	z-index: 1;

}

nav ul {
	padding: 0;
	margin: 0;
	font-weight: lighter;
}

nav li {
	display: inline-block;
	padding: 30px 130px 30px 130px;
	font-size: 1.2em;
	transition: all 0.2s linear;
	cursor: pointer;
}

nav li:hover {
	background-color: #ffebee;
	color: #ef5350;
}

/* Content */

#content {
	display: block;
}

#content:before, #content:after {
    content: " ";
}

/* Intro */

#intro {
	background-color: #ef5350;
	position: relative;
	text-align: center;
}

#intro:after {
	content: "";
	background-color: #212121;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 10px;
}

.intro-text {
	color: #f5f5f5;
	padding-top: 260px;
	display: block;
	text-shadow: 4px 4px 1px rgba(0,0,0,0.1);
}

.intro-text p {
	margin: 0;
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 10px;
	padding-bottom: 20px; 
}

.intro-text h3 {
	font-size: 1.2em;
	padding: 25px 0 200px 0;
	margin-bottom: 0;
	font-weight: lighter;
}

/* Work */

#work {
	background-color: #333333;
	position: relative;
	text-align: center;
	color: #f5f5f5;
}

#work:after {
	content: "";
	background-color: #f1f1f1;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 10px;
}

#work p {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 10px;
	padding: 0; 
}

#latest-work, .other-works {
	background-color: #616161;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

#latest-work {
	width: 1000px;
	height: 710px;
	background-image: url("img/evocore-photo-mobile-2.jpg");
	background-size: 100% auto;
	margin: 50px auto;
}

.other-works {
	width: 470px;
	height: 390px;
	margin: 0 29px 50px 29px;
}

/* Projects Backgrounds */

#wayfwd, #ds-ipad, #the-fox, #ipg {
	background-size: 100% auto;
}

#wayfwd {
	background-image: url(img/wayfwd-ipad-lesson-icons.jpg);
}

#ds-ipad {
	background-image: url(img/ds-ipad.jpg);
}

#the-fox {
	background-image: url(img/thefox-desktop-a.jpg);
}

#ipg {
	background-image: url(img/ipg-desktop-a-1.jpg);
}

/* Projects Button */

.work-button {
	transition: background-color 0.2s linear;
	height: 100%;
}

.work-button:hover {
	background-color: rgba(0,0,0,0.4);
}

.work-button a {
	position: absolute;
	left: 50%;
	bottom: 40%;
	opacity: 0;
	background-color: #ef5350;
	border-radius: 15px;
	padding: 20px 40px 20px 40px;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
	transition: all 0.4s ease;
	transform: translate(-50%,0);
}

.work-button:hover a {
	opacity: 1;
	bottom: 55%;
}

/* Projects Bottom Panel */

.bottom-panel {
	width: 100%;
	height: 100px;
	background-color: #858585;
	position: absolute;
	bottom: 0;
}

.name-project {
	text-align: left;
	vertical-align: center;
	padding: 35px 0 0 50px;
}

.name-project h2, #more-projects-btn h2 {
	font-weight: lighter;
	margin: 0;
}

#more-projects {
	padding-bottom: 60px;
}

#more-projects-btn {
	background-color: #ef5350;
	border-radius: 15px;
	width: 300px;
	height: 45px;
	font-size: 0.9em;
	color: white;
	margin: 0 auto;
	padding-top: 10px;	
	cursor: pointer;
}

.not-visible {
	display: none;
}

/* About */

#about {
	background-color: #f7f7f7;
	position: relative;
	text-align: center;
	color: #959595;
}

#about p {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 10px;
	padding: 0;
	margin: 0;
}

/* Footer */

footer {
	
}