body {
	font-family: 'Roboto', sans-serif;
}

.tavola, .cellona, .cella {
	border: 1px solid black;
	box-sizing: border-box;
}

.tavola {
	width: 453px;
	height: 453px;
	
}

.cellona {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
}

.cella {

	width: 50px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	font-size: 2em;
}


.cellona:nth-of-type(1) {
	position: relative;
	left: 0px;
	top: 0px;
}
.cellona:nth-of-type(2) {
	position: relative;
	left: 150px;
	top: -150px;
}
.cellona:nth-of-type(3) {
	position: relative;
	left: 300px;
	top: -300px;
}
.cellona:nth-of-type(4) {
	position: relative;
	left: 0px;
	top: -300px;
}
.cellona:nth-of-type(5) {
	position: relative;
	left: 150px;
	top: -450px;
}
.cellona:nth-of-type(6) {
	position: relative;
	left: 300px;
	top: -600px;
}
.cellona:nth-of-type(7) {
	position: relative;
	left: 0px;
	top: -600px;
}
.cellona:nth-of-type(8) {
	position: relative;
	left: 150px;
	top: -750px;
}
.cellona:nth-of-type(9) {
	position: relative;
	left: 300px;
	top: -900px;
}



.cella:nth-of-type(1) {
	position: relative;
	left: 0px;
	top: 0px;
}
.cella:nth-of-type(2) {
	position: relative;
	left: 50px;
	top: -50px;
}
.cella:nth-of-type(3) {
	position: relative;
	left: 100px;
	top: -100px;
}
.cella:nth-of-type(4) {
	position: relative;
	top: -100px;
}
.cella:nth-of-type(5) {
	position: relative;
	left: 50px;
	top: -150px;
}
.cella:nth-of-type(6) {
	position: relative;
	left: 100px;
	top: -200px;
}
.cella:nth-of-type(7) {
	position: relative;
	top: -200px;
}
.cella:nth-of-type(8) {
	position: relative;
	left: 50px;
	top: -250px;
}
.cella:nth-of-type(9) {
	position: relative;
	left: 100px;
	top: -300px;
}
