p {
	color: red;
}

h1 {
	font-family: Verdana, sans-serif;
}

.style-one {
	color: green;
}

.style-two {
	color: red;
	margin-bottom: 5px;
	background-color: grey;
	padding: 20px;
}

.style-one>.style-two {
	color: yellow;
}

.style-one.style-two {
	color: blue;
}

.style-one, .style-one.style-two {
	display: inline;
}


