body {
	font-family: "Open Sans", sans-serif;
}

/*Tavola Parole Crociate*/

#board { 
	border: 2px solid black;
	border-collapse: collapse; 
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-right: 40px;
	float: left;
}

td { 
	border: 2px solid black; 
	height: 35px;
	width: 35px; 
	text-align: center; 
	padding: 0; 
	background-color: white;
	position: relative;
}

.disabled {
	background-color: black;
}
.disabled:after {
  	border: 3px solid #fff;
  	content: "";
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
}

.num-quest {
	font-size: 0.55em;
	position: absolute;
	top: 0;
	left: 1px;
}

.input-text {
	font-size: 1.4em;
	text-align: center;
	width: 30px;
	border: none;
	text-transform: uppercase;
} 

/* Domande */

#questions div{
	display: inline-block;
	margin-right: 20px;
	float: left;
}

#questions p {
	margin: 0;
	font-size: 0.8em;
}
